<!DOCTYPE html>   
<html>   
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title> REGISTER HERE!!</title>   
        <link rel="stylesheet" href="../static/predictor.css">
    </head>    

    <body>
        <div class="container">
                <form class="pform" action="/register", method="post">
                    <div>
                        <h1 style="display:inline; margin-left: 35px;">SIGNUP FORM</h1>
                        <a href="/"><button type="button" style="background-color:#324e8a; display: inline; margin-left: 35px;">X</button></a>
                    </div>
                    <hr>
                    <h3> <label>Username: </label>   
                        <input type="text" name="username" required size="15"> <br><br>  
                    <label>Email: </label>  
                        <input type="email" name="Email" required size="20">  <br><br>
                    <label>Password: </label>  
                        <input type="password"  name="Password" required size="15">  <br><br>
                    <label>Confirm Password: </label>  
                        <input type="password"  name="Password" required size="15">  <br>
                    </h3>
                    <a href="/login"><button type="button">Register</button></a>
                    <h4><a href="/login"> Back to Login </a>           
            </form>
        </div>
    </body>
</html>
            

            

           